* {
  font-family: JetBrainsMono Nerd Font, monospace;
  font-size: 13px;
  border: none;
  border-radius: 0px;
}

window#waybar {
  background: rgba(20, 20, 20, 0.34);
  color: #ffffff;
}

#workspaces button {
  padding: 0 8px;
  margin: 5px 2px;
  border-radius: 12px;
  background: transparent;
  color: #bbbbbb;
}

#workspaces button.active {
  background: rgba(255, 255, 255, 0.15);
  color: #ffffff;
}

#clock, #pulseaudio, #network, #cpu, #memory, #tray, #power-profiles-daemon, #battery, #custom-gpu {
  padding: 0 12px;
  margin: 5px 0;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.08);
}
